@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  background: rgb(66, 134, 194);
  height: 100vh;
  font-family: "Roboto", sans-serif;
}
