section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.kortele {
  text-align: center;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.6px);
  -webkit-backdrop-filter: blur(5.6px);
  border: 1px solid rgba(255, 255, 255, 0.21);
  padding: 10px 20px;
  width: 400px;
  height: 300px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.kortele h2 {
  margin-top: 20px;
  font-size: 20px;
}

.kortele img {
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  .kortele {
    width: 80%;
    height: 300px;
  }
}
